input {
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.952) !important;
  box-shadow: none !important;
}

.input-valid {
  border-bottom: 2px solid rgba(0, 255, 42, 0.692) !important;
}
.input-invalid {
  border-bottom: 2px solid rgba(255, 0, 0, 0.692) !important;
}
